* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.root {
  padding: 5px 10px;
  width: 370px;
  height: 570px;
  margin: 0 0;
}
.title {
  background-color: deeppink;
  color: black;
  padding: 5px 10px;
  border-bottom: 1px dashed yellow;
}
.monitor {
  background-color: deeppink;
  padding: 10px 20px;
  width: 100%;
  height: 75%;
  position: relative;
}
.monitor-inner-box {
  background-color: hotpink;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}
.broad {
  background-color: lightpink;
  height: 20%;
}
.broad-inner-box {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.monitor-item {
  width: 50%;
}
.broad-item {
  width: 25%;
  text-align: center;
}
.monitor-item:nth-child(1) {
  padding-top: 15px;
  padding-left: 30px;
  font-size: 1.5em;
}
.monitor-item:nth-child(2) {
  padding-top: 15px;
  padding-right: 30px;
  font-size: 1.5em;
  text-align: right;
}
.monitor-item:nth-child(3) {
  padding-left: 30px;
  padding-bottom: 30px;
  font-size: 1.5em;
  display: flex;
  align-items: flex-end;
}
.monitor-item:nth-child(4) {
  padding-bottom: 30px;
  padding-right: 30px;
  font-size: 1.5em;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.big-circle {
  background-color: blueviolet;
  border-radius: 50%;
  width: 250px;
  height: 250px;
  position: absolute;
  z-index: 3;
  top: 68px;
  left: 43px;
  border: 2px solid black;
  background: repeating-conic-gradient(
    from 10deg,
    white 0deg 22.5deg,
    orange 22.5deg 45deg
  );
  margin: 10px 10px;
}
.small-circle {
  background-color: black;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  z-index: 5;
  position: absolute;
  top: 129px;
  left: 104px;
}
.small-circle img {
  width: 130px;
  position: relative;
  top: 25px;
  left: 25px;
}
.small-circle img {
  width: 100px;
}

@keyframes loop-img {
  0% {
    background-image: url("./0.png");
  }
  32.9% {
    background-image: url("./0.png");
  }
  33% {
    background-image: url("./1.png");
  }
  65.9% {
    background-image: url("./1.png");
  }
  66% {
    background-image: url("./2.png");
  }
  100% {
    background-image: url("./2.png");
  }
}
@keyframes loop-circle {
  100% {
    transform: rotate(360deg);
  }
}
.small-circle {
  animation: loop-img 3s infinite linear;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
}

.big-circle {
  animation: loop-circle 3s linear infinite;
}
.win1 {
  animation: ceremony1 0.5s infinite;
}

.win2 {
  animation: ceremony2 0.5s infinite;
}

@keyframes ceremony1 {
  from {
    background-color: red;
  }
  50% {
    background-color: blue;
  }
  to {
    background-color: orange;
  }
}

@keyframes ceremony2 {
  from {
    background-color: blue;
  }
  50% {
    background-color: red;
  }
  to {
    background-color: lightskyblue;
  }
}

@keyframes effect1 {
  from {
    background-color: red;
  }
  50% {
    background-color: blue;
  }
  to {
    background-color: orange;
  }
}
@keyframes effect2 {
  from {
    background-color: red;
  }
  50% {
    background-color: blue;
  }
  to {
    background-color: orange;
  }
}

.lose {
  animation: effect1 0.5s 3;
}
.draw {
  animation: effect2 0.5s 3;
}
.big-circle div {
  display: inline-block;
  width: 20px;
  text-align: center;
}
@keyframes blink {
  50% {
    opacity: 0;
  }
}
.numEffect {
  animation: blink 0.2s alternate infinite;
}

.num:nth-child(1) {
  position: relative;
  top: 11px;
  left: 112px;
  animation-delay: 0.1s;
}
.num:nth-child(2) {
  position: relative;
  top: 18px;
  left: 126px;
  transform: rotate(22.5deg);
  animation-delay: 0.2s;
}
.num:nth-child(3) {
  position: relative;
  top: 39px;
  left: 132px;
  transform: rotate(45deg);
  animation-delay: 0.3s;
}
.num:nth-child(4) {
  position: relative;
  top: 69px;
  left: 130px;
  transform: rotate(67.5deg);
  animation-delay: 0.4s;
}
.num:nth-child(5) {
  position: relative;
  top: 108px;
  left: 112px;
  transform: rotate(90deg);
  animation-delay: 0.5s;
}
.num:nth-child(6) {
  position: relative;
  top: 151px;
  left: 82px;
  transform: rotate(112.5deg);
  animation-delay: 0.6s;
}
.num:nth-child(7) {
  position: relative;
  top: 182px;
  left: 33px;
  transform: rotate(135deg);
  animation-delay: 0.7s;
}
.num:nth-child(8) {
  position: relative;
  top: 205px;
  left: -26px;
  transform: rotate(157.5deg);
  animation-delay: 0.8s;
}
.num:nth-child(9) {
  position: relative;
  top: 212px;
  left: -91px;
  transform: rotate(180deg);
  animation-delay: 0.9s;
}
.num:nth-child(10) {
  position: relative;
  top: 186px;
  left: 75px;
  transform: rotate(202.5deg);
  animation-delay: 1s;
}
.num:nth-child(11) {
  position: relative;
  top: 168px;
  left: 17px;
  transform: rotate(225deg);
  animation-delay: 1.1s;
}
.num:nth-child(12) {
  position: relative;
  top: 132px;
  left: -30px;
  transform: rotate(250.5deg);
  animation-delay: 1.2s;
}
.num:nth-child(13) {
  position: relative;
  top: 93px;
  left: -63px;
  transform: rotate(270deg);
  animation-delay: 1.3s;
}
.num:nth-child(14) {
  position: relative;
  top: 57px;
  left: -84px;
  transform: rotate(292.5deg);
  animation-delay: 1.4s;
}
.num:nth-child(15) {
  position: relative;
  top: 22px;
  left: -88px;
  transform: rotate(315deg);
  animation-delay: 1.5s;
}
.num:nth-child(16) {
  position: relative;
  top: 1px;
  left: -80px;
  transform: rotate(337.5deg);
  animation-delay: 1.6s;
}
.broad-item img {
  width: 60px;
}
.broad-item p {
  font-size: 0.7em;
}
.broad-item button {
  cursor: pointer;
}
