* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.root {
  padding-top: 55px;
}
.title-box {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  background-color: white;
  z-index: 2;
}
.title-inner-box {
  width: 60%;
  margin: 0 auto;
  padding: 10px 0;
  background-color: white;
}
.title-inner-flex {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.title-inner-item {
  font-size: 1.2rem;
  color: gray;
  display: inline-block;
  padding: 5px;
  position: relative;
}
.title-inner-item:nth-child(2) {
  margin-left: 30px;
}
.title-inner-item:first-child {
  border: 4px solid black;
}
.title-inner-item:hover .next-page-content {
  display: block;
}

.title-inner-item:nth-child(2) .next-page {
  color: black;
}
.title-inner-item:nth-child(4):hover .next-page {
  color: black;
}
.title-inner-item:nth-child(2)::after {
  content: "";
  display: block;
  width: 10px;
  border-bottom: 2px solid black;
  margin: 0 auto;
}
.next-page {
  text-decoration: none;
  color: lightgray;
}
.homepage {
  text-decoration: none;
  color: black;
  font-size: 1rem;
  font-weight: 650;
}
.next-page:hover {
  color: black;
}
.title-inner-item:nth-child(2) .next-page::after {
  content: " \25BC";
  font-size: 0.8rem;
  vertical-align: 20%;
}
.title-inner-item:nth-child(4) .next-page::after {
  content: " \25BC";
  font-size: 0.8rem;
  vertical-align: 20%;
}
.title-inner-item:nth-child(n + 2):hover::after {
  content: "";
  display: block;
  width: 10px;
  border-bottom: 2px solid black;
  margin: 0 auto;
}
a:visited {
  text-decoration: none;
}
.next-page-content {
  display: none;
  position: absolute;
  top: 40px;
  left: -10px;
  background-color: white;
  width: max-content;
  padding: 10px 5px;
}
.next-page-content a {
  color: lightgray;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 1rem;
}

.next-page-content a:hover {
  color: black;
}
.title-button > img {
  width: 50px;
}
.title-button {
  border: none;
  background-color: white;
  text-align: center;
}
.hidden-title {
  display: none;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  z-index: 5;
}
.hidden-inner-box {
  width: 95%;
  margin: 0 auto;
  padding: 10px;
}
.hidden-flex {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.hidden-flex-item {
  width: 100%;
  color: white;
  font-size: 1.5rem;
  padding: 15px 0;
}
.title-button,
.dropdown-button {
  color: white;
  background-color: rgba(0, 0, 0, -1);
  cursor: pointer;
  padding: 5px 10px;
  border: none;
}
.title-button {
  font-size: 1.2rem;
  width: fit-content;
}
.dropdown-button {
  width: max-content;
  font-size: 1rem;
}
ul {
  width: 100%;
}
.hidden-flex-item:first-child {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.hidden-flex-item:first-child .title-button {
  position: relative;
  display: inline-block;
}
.hidden-flex-item:first-child .title-button::after {
  content: "\00d7";
  font-size: 3rem;
  line-height: 3rem;
}
.hidden-flex-item:nth-child(2) {
  padding-top: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hidden-flex-item:nth-child(n + 1) {
  font-size: 1.3rem;
}
.hidden-flex-item:nth-child(2) a {
  width: 95%;
}
.hidden-flex-item a {
  text-decoration: none;
  color: white;
}
.hidden-li-artist,
.hidden-li-schedule {
  visibility: hidden;
  height: 0;
  list-style: none;
  font-size: 1rem;
  padding: 0;
}
.appear {
  height: 50px;
  visibility: visible;
  padding: 5% 0 0 5%;
  transition: padding-top 0.3s;
}
.hidden-flex-item:nth-child(4) {
  display: flex;
  justify-content: center;
  align-items: center;
}
.hidden-flex-item:nth-child(4) a {
  width: 95%;
}
.title-button:first-child {
  padding: 0;
}
.stitle-inner-box {
  width: 300px;
  margin: auto;
}
.stitle-item {
  width: fit-content;
  margin: 0 auto;
  font-size: 2rem;
  padding: 30px 0;
  color: black;
  font-weight: 500;
}
.mid-box {
  padding-bottom: 3%;
}
.mid-inner-box {
  width: 60%;
  margin: 0 auto;
}
.mid-flex {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  flex-wrap: wrap;
}
.mid-item {
  width: 50%;
}
.mid-item > img {
  width: 100%;
  margin: 0 auto;
}
.flex-box {
  display: flex;
  width: fit-content;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.flex-item {
  width: 100%;
  padding: 5px;
  text-align: center;
}
.flex-item:first-child {
  font-size: 2rem;
  font-weight: 550;
  width: 100%;
}
.flex-item:nth-child(2) {
  font-size: 1.5rem;
}
.flex-item:last-child {
  font-size: 1rem;
  padding-bottom: 50px;
}
.flex-text {
  color: grey;
  text-align: center;
}
.text-item {
  font-size: 0.9rem;
}
.text-item:first-child {
  padding-bottom: 30px;
}
.img-box {
  width: 65%;
  margin: 0 auto;
}
.img-flex {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.img-item {
  width: 25%;
}
.img-item:nth-child(n) > img {
  width: 100%;
}
.logo-inner-box {
  width: fit-content;
  margin: 0px auto;
  padding: 40px 0;
}
.logo-item img {
  width: 30px;
  height: auto;
  margin: 0 40px;
}
.album-title {
  border-bottom: 5px solid black;
  width: 65%;
  margin: 30px auto;
  padding-bottom: 20px;
  font-size: 1.5rem;
  font-weight: 600;
  color: #000000;
}
.album-outer-box {
  background-color: lightgrey;
  width: 100%;
}
.album-box {
  width: 66%;
  margin: 0 auto;
}
.album-flex {
  display: flex;
  width: 100%;

  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}
.album-flex a {
  width: 16.6%;
  padding: 15px 10px;
  text-decoration: none;
  color: black;
}
.album-flex a:visited {
  text-decoration: none;
}

.album-item {
  width: 100%;
}
.album-inner-box {
  background-color: white;
}
.album-item .img {
  width: 100%;
}

.inner-text {
  text-align: center;
  font-size: 12px;
  padding: 10px 0;
  font-weight: 500;
  font-size: 0.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.album-inner-box:hover > .img,
.album-inner-box:hover > .inner-text {
  opacity: 0.5;
}

.album-inner-box:hover > .inner-text {
  text-decoration: underline;
}
#footer-box {
  width: 70%;
  margin: 0 auto;
  text-align: left;
  font-size: 0.7em;
  letter-spacing: 2px;
  padding: 25px 0;
}
@media screen and (min-width: 1183px) {
  .title-bar {
    display: none;
  }
  .title-none {
    width: 0;
    display: none;
  }
}

@media screen and (max-width: 1183px) {
  .title-bar {
    display: none;
  }

  .title-inner-item:first-child {
    min-width: 205px;
    margin: 50px 205px;
  }
  .stitle-box {
    padding-top: 15%;
  }
  .mid-inner-box {
    width: 70%;
  }
  .mid-flex {
    justify-content: space-around;
  }
  .mid-item {
    width: 45%;
  }
  .video-box {
    padding-top: 150px;
    width: 90%;
  }
  .image-box {
    width: 85%;
    margin: 0 auto;
  }
  .album-title {
    width: 80%;
  }
  .album-box {
    width: 80%;
  }
  #more-box .image-box {
    display: none;
    width: 85%;
    margin: 0 auto;
    text-align: left;
  }
  .img-inner-text {
    padding: 15px;
  }
  #footer-box {
    width: 80%;
  }
}
@media screen and (max-width: 985px) {
  .title-bar {
    display: none;
  }
  .title-inner-item:first-child {
    margin: 50px 180px;
  }
  .img-box {
    width: 80%;
  }
  .img-item {
    width: 50%;
  }
  .album-flex a {
    width: 33.3%;
  }
  #footer-box {
    width: 80%;
  }
}
@media screen and (max-width: 800px) {
  .title-bar {
    display: none;
  }
  .title-inner-item:first-child {
    margin: 50px 150px;
  }
  .mid-box {
    padding-bottom: 15%;
  }
  .mid-inner-box {
    width: 85%;
  }
}
@media screen and (max-width: 796px) {
  .next-page {
    display: none;
  }
  .title-bar {
    display: block;
  }
  .title-box {
    width: 100%;
    margin: 0 auto;
  }
  .title-inner-box {
    width: 95%;
  }
  .title-inner-item:first-child {
    margin: 0;
  }
  .title-inner-item:first-child a {
    font-size: 1.7rem;
  }
  .title-inner-item:nth-child(n + 2) {
    display: none;
  }
  .title-button > img {
    width: 30px;
  }
  .stitle-box {
    padding-top: 5%;
  }
  .mid-inner-box {
    width: 90%;
  }
  .mid-item {
    width: 100%;
  }
  .flex-box {
    padding-top: 5%;
  }
  .flex-item:first-child,
  .flex-item:nth-child(2),
  .flex-item:last-child {
    font-size: 1rem;
  }
  .flex-item:last-child {
    padding-bottom: 20px;
  }
  .text-item {
    font-size: 0.7rem;
  }
  .img-box {
    width: 95%;
  }
  .logo-item img {
    margin: 0 15px;
  }
  .album-title {
    width: 95%;
  }
  .album-box {
    width: 95%;
  }
  .album-flex a {
    width: 50%;
  }
  .album-title {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 400px) {
  .title-inner-item:first-child {
    width: 30%;
  }
  .title-inner-item:first-child a {
    font-size: 1rem;
  }
}
@media screen and (max-width: 340px) {
  .logo-item img {
    margin: 0 5px;
  }
}
