* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.root {
  padding-top: 55px;
}
.title-box {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  background-color: white;
  z-index: 2;
}
.title-inner-box {
  width: 60%;
  margin: 0 auto;
  padding: 10px 0;
  background-color: white;
}
.title-inner-flex {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.title-inner-item {
  font-size: 1.2rem;
  color: gray;
  display: inline-block;
  padding: 5px;
  position: relative;
}
.title-inner-item:nth-child(2) {
  margin-left: 30px;
}
.title-inner-item:first-child {
  border: 4px solid black;
}
.title-inner-item:nth-child(3) .next-page {
  color: black;
}
.title-inner-item:hover .next-page-content {
  display: block;
}
.title-inner-item:hover .next-page {
  color: black;
}
.next-page-content {
  display: none;
  position: absolute;
  top: 40px;
  left: -10px;
  background-color: white;
  width: max-content;
  padding: 10px 5px;
}
.next-page-content a {
  color: lightgray;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 1rem;
}

.next-page-content a:hover {
  color: black;
}
.title-button > img {
  width: 50px;
}
.title-button {
  border: none;
  background-color: white;
  text-align: center;
}
.title-inner-item:nth-child(3)::after {
  content: "";
  display: block;
  width: 10px;
  border-bottom: 2px solid black;
  margin: 0 auto;
}
.next-page {
  text-decoration: none;
  color: lightgray;
}
.homepage {
  text-decoration: none;
  color: black;
  font-size: 1rem;
  font-weight: 650;
}
.next-page:hover {
  color: black;
}
.title-inner-item:nth-child(2) .next-page::after {
  content: " \25BC";
  font-size: 0.8rem;
  vertical-align: 20%;
}
.title-inner-item:nth-child(4) .next-page::after {
  content: " \25BC";
  font-size: 0.8rem;
  vertical-align: 20%;
}
.title-inner-item:nth-child(n + 2):hover::after {
  content: "";
  display: block;
  width: 10px;
  border-bottom: 2px solid black;
  margin: 0 auto;
}
a:visited {
  text-decoration: none;
}
.hidden-title {
  display: none;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  z-index: 5;
}
.hidden-inner-box {
  width: 95%;
  margin: 0 auto;
  padding: 10px;
}
.hidden-flex {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.hidden-flex-item {
  width: 100%;
  color: white;
  font-size: 1.5rem;
  padding: 15px 0;
}
.title-button,
.dropdown-button {
  color: white;
  background-color: rgba(0, 0, 0, -1);
  cursor: pointer;
  padding: 5px 10px;
  border: none;
}
.title-button {
  font-size: 1.2rem;
  width: fit-content;
}
.dropdown-button {
  width: max-content;
  font-size: 1rem;
}
ul {
  width: 100%;
}
.hidden-flex-item:first-child {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.hidden-flex-item:first-child .title-button {
  position: relative;
  display: inline-block;
}
.hidden-flex-item:first-child .title-button::after {
  content: "\00d7";
  font-size: 3rem;
  line-height: 3rem;
}
.hidden-flex-item:nth-child(2) {
  padding-top: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hidden-flex-item:nth-child(n + 1) {
  font-size: 1.3rem;
}
.hidden-flex-item:nth-child(2) a {
  width: 95%;
}
.hidden-flex-item a {
  text-decoration: none;
  color: white;
}
.hidden-li-artist,
.hidden-li-schedule {
  visibility: hidden;
  height: 0;
  list-style: none;
  font-size: 1rem;
  padding: 0;
}
.appear {
  height: 50px;
  visibility: visible;
  padding: 5% 0 0 5%;
  transition: padding 0.3s;
}
.hidden-flex-item:nth-child(4) {
  display: flex;
  justify-content: center;
  align-items: center;
}
.hidden-flex-item:nth-child(4) a {
  width: 95%;
}
.title-button:first-child {
  padding: 0;
}
.video-title {
  font-size: 48px;
  width: 100%;
  margin: 10px 10% 30px 10%;
  font-weight: 350;
  color: gray;
}
.music-video {
  display: flex;
  width: 100%;

  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.video-item {
  width: 100%;
  text-align: center;
  margin: 10px;
}
.video-item:first-child {
  margin-top: 30px;
  font-size: 18px;
  color: gray;
}
.short-line {
  width: 20px;
  margin: 10px 0;
}

.video-item:nth-child(3) {
  width: 100%;
  font-size: 32px;
  color: gray;
}
.etc-box {
  width: 75%;
  margin: 0 auto;
}
.etc-flex {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 10px;
}
.etc-item {
  width: 25%;
  padding: 0 5px;
  margin-bottom: 50px;
}
.etc-item iframe {
  width: 100%;
}
#footer-box {
  width: 70%;
  margin: 0 auto;
  text-align: left;
  font-size: 0.7em;
  letter-spacing: 2px;
  padding: 25px 0;
}
@media screen and (min-width: 1183px) {
  .title-bar {
    display: none;
  }
  .title-none {
    width: 0;
    display: none;
  }
}

@media screen and (max-width: 1183px) {
  .title-bar {
    display: none;
  }

  .title-inner-item:first-child {
    min-width: 205px;
    margin: 50px 258px;
  }
  .video-outer-box {
    padding-top: 15%;
  }
  .etc-box {
    width: 85%;
  }
}
@media screen and (max-width: 1060px) {
  .title-bar {
    display: none;
  }
  .title-inner-item:first-child {
    margin: 50px 200px;
  }
}
@media screen and (max-width: 900px) {
  .title-bar {
    display: none;
  }
  .title-inner-item:first-child {
    margin: 50px 150px;
  }
  .etc-item {
    width: 50%;
    margin-bottom: 0;
    padding: 15px 5px;
  }
}
@media screen and (max-width: 870px) {
  .video-item:nth-child(3) {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 850px) {
  .next-page {
    display: none;
  }
  .title-bar {
    display: block;
  }
  .title-box {
    width: 100%;
    margin: 0 auto;
  }
  .title-inner-box {
    width: 95%;
  }
  .title-inner-item:first-child {
    margin: 0;
  }
  .title-inner-item:first-child a {
    font-size: 1.7rem;
  }
  .title-inner-item:nth-child(n + 2) {
    display: none;
  }
  .title-button > img {
    width: 30px;
  }
  .video-outer-box {
    padding-top: 5%;
    width: 90%;
    margin: 0 auto;
  }
  .etc-box {
    width: 95%;
  }
  #footer-box {
    width: 95%;
  }
}
@media screen and (max-width: 650px) {
  .title-inner-item:first-child {
    min-width: 0;
    margin: 0;
  }
}
@media screen and (max-width: 432px) {
  .title-inner-item:first-child a {
    font-size: 1rem;
  }
}
