* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.root {
  padding-top: 55px;
}
.title-box {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  background-color: white;
  z-index: 2;
}
.title-inner-box {
  width: 60%;
  margin: 0 auto;
  padding: 10px 0;
  background-color: white;
}
.title-inner-flex {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.title-inner-item {
  font-size: 1.2rem;
  color: gray;
  display: inline-block;
  padding: 5px;
  position: relative;
}

.title-inner-item:first-child {
  border: 4px solid black;
}
.title-inner-item:hover .next-page-content {
  display: block;
}
.title-inner-item:hover .next-page {
  color: black;
}
.title-button > img {
  width: 50px;
}
.title-button {
  border: none;
  background-color: white;
  text-align: center;
}
.next-page-content {
  display: none;
  position: absolute;
  top: 40px;
  left: -10px;
  background-color: white;
  width: max-content;
  padding: 10px 5px;
}
.next-page-content a {
  color: lightgray;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 1rem;
}

.next-page-content a:hover {
  color: black;
}
.title-inner-item:nth-child(5) .next-page {
  color: black;
}
.title-inner-item:nth-child(5)::after {
  content: "";
  display: block;
  width: 10px;
  border-bottom: 2px solid black;
  margin: 0 auto;
}
.next-page {
  text-decoration: none;
  color: lightgray;
}
.homepage {
  text-decoration: none;
  color: black;
  font-size: 1rem;
  font-weight: 650;
}
.next-page:hover {
  color: black;
}
.title-inner-item:nth-child(2) .next-page::after {
  content: " \25BC";
  font-size: 0.8rem;
  vertical-align: 20%;
}
.title-inner-item:nth-child(4) .next-page::after {
  content: " \25BC";
  font-size: 0.8rem;
  vertical-align: 20%;
}
.title-inner-item:nth-child(n + 2):hover::after {
  content: "";
  display: block;
  width: 10px;
  border-bottom: 2px solid black;
  margin: 0 auto;
}
a:visited {
  text-decoration: none;
}
.hidden-title {
  display: none;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  z-index: 5;
}
.hidden-inner-box {
  width: 80%;
  margin: 0 auto;
  padding: 10px;
}
.hidden-flex {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.hidden-flex-item {
  width: 100%;
  color: white;
  font-size: 1.5rem;
  padding: 30px 0;
}
.title-button,
.dropdown-button {
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  cursor: pointer;
  padding: 5px 10px;
}
.title-button {
  font-size: 1.3rem;
  width: fit-content;
}
.dropdown-button {
  width: max-content;
  font-size: 1.5rem;
}

.hidden-flex-item:nth-child(2) {
  padding-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hidden-flex-item:nth-child(2) a {
  width: 95%;
}
.hidden-flex-item a {
  text-decoration: none;
  color: white;
}
.hidden-flex-item li {
  display: none;
  list-style: none;
  font-size: 1rem;
  padding: 5% 0 0 5%;
}
.hidden-flex-item:nth-child(4) {
  display: flex;
  justify-content: center;
  align-items: center;
}
.hidden-flex-item:nth-child(4) a {
  width: 95%;
}
.title-button:first-child {
  padding: 0;
}
.body-box {
  background-color: gray;
}

.content {
  width: fit-content;
  margin: 0 auto;
  color: white;
  text-align: center;
}

hr {
  border: 1px solid white;
  width: 1;
  height: 50px;
  margin: 0 auto;
}
.content-title {
  font-size: 2rem;
  padding: 15% 0 3% 0;
  letter-spacing: 10px;
}
.content-body {
  font-size: 1.5rem;
}
.content > .content-body:nth-child(4) {
  padding: 5% 0;
}
.content-area {
  background-color: gray;
  color: white;
  width: 100%;
  border: 1px solid white;
  margin: 5px 0;
  padding: 10px 10px;
  font-size: 0.7rem;
}
input::placeholder,
textarea::placeholder {
  color: white;
}
.insert-content > textarea {
  height: 160px;
}
.insert-content > textarea::placeholder {
  font-size: 1.2em;
  font-weight: 650;
}
.insert-box {
  width: 550px;
  padding: 15% 0;
}
input:focus,
textarea:focus {
  box-shadow: 0 2px 4px 0 rgba(255, 255, 255, 0.7);
  outline: none;
}
.insert-content > button {
  width: 100%;
  background-color: gray;
  color: white;
  border: 1px solid white;
  font-size: 0.7rem;
  padding: 2% 0;
}
button:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}
#footer-box {
  width: 70%;
  margin: 0 auto;
  text-align: left;
  font-size: 0.7em;
  letter-spacing: 2px;
  padding: 25px 0;
}
@media screen and (min-width: 1183px) {
  .title-bar {
    display: none;
  }
  .title-none {
    width: 0;
    display: none;
  }
}

@media screen and (max-width: 1183px) {
  .title-bar {
    display: none;
  }

  .title-inner-item:first-child {
    min-width: 205px;
    margin: 50px 258px;
  }
  .body-box {
    padding-top: 15%;
  }
}
@media screen and (max-width: 1050px) {
  .title-inner-item:first-child {
    margin: 50px 200px;
  }
}
@media screen and (max-width: 940px) {
  .title-inner-item:first-child {
    margin: 50px 180px;
  }
}
@media screen and (max-width: 796px) {
  .next-page {
    display: none;
  }
  .title-bar {
    display: block;
  }
  .title-box {
    width: 100%;
    margin: 0 auto;
  }
  .title-inner-box {
    width: 95%;
  }
  .title-inner-item:first-child {
    margin: 0;
  }
  .title-inner-item:first-child a {
    font-size: 1.7rem;
  }
  .title-inner-item:nth-child(n + 2) {
    display: none;
  }
  .title-button > img {
    width: 30px;
  }
  .body-box {
    padding-top: 5%;
  }
  .content-title,
  .content-body {
    font-size: 1rem;
  }
  #footer-box {
    width: 95%;
  }
}
