* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.root {
  /* margin: 0 4%; */
  padding-top: 150px;
}
.title-box {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  background-color: white;
  z-index: 2;
}
.title-inner-box {
  width: 70%;
  margin: 0 15%;
  padding: 50px 0;
}
.title-inner-flex {
  display: flex;
  width: 100%;

  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.title-inner-item {
  font-size: 24px;
  color: lightgray;
  display: inline;
  padding: 5px;
}
.title-inner-item:first-child {
  border: 4px solid black;
  color: black;
  font-size: 20px;
  font-weight: 650;
}

.title-button > img {
  width: 50px;
}
.title-button {
  border: none;
  background-color: white;
  text-align: center;
}
.video-box {
  margin: auto;
  width: 100%;
  margin-top: 10px;
}
.video-flex {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.video-item {
  width: 100%;
}
.video-item > iframe {
  width: 80%;
  margin: 0 10%;
}
.mid-box {
  width: 100%;
  margin: 0;
}
.mid-flex {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  flex-wrap: wrap;
  flex-direction: row-reverse;
}
.mid-item {
  width: 49%;
}
.mid-item > img {
  width: 100%;
  height: 840px;
}
.flex-box {
  display: flex;
  width: 100%;
  margin: auto;
  padding-bottom: 20px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.flex-item {
  font-size: 48px;
  padding: 5px;
  text-align: center;
}
.flex-text {
  color: grey;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.stitle-inner-box {
  width: 360px;
  margin: auto;
}
.stitle-item {
  width: 50px;
  margin: auto;
  font-size: 32px;
  padding: 20px 0;
}
.stitle-item > img {
  width: 50px;
  height: 50px;
}
.stitle-item:last-child {
  width: 500px;
  color: grey;
}
.image-box {
  width: 80%;
  margin: 0 auto;
}
.img-flex {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.img-item {
  padding: 10px 5px;
  position: relative;
}

.img-item:nth-child(n) > img {
  width: 180px;
  height: 180px;
}
.img-inner-text {
  position: absolute;
  display: none;
  top: 10px;
  left: 5px;
  z-index: 3;
  color: white;
  background-color: black;
  opacity: 0.85;
  padding: 10% 5% 0px 10%;
  width: 180px;
  height: 180px;
  font-size: 0.7em;
}
.img-inner-text > div:nth-child(1) {
  padding-bottom: 5px;
  color: gray;
}
.img-inner-text > div:nth-child(2) {
  line-height: 17px;
}
.img-inner-text > a {
  padding-top: 5px;
  background-color: black;
  color: lightblue;
  cursor: pointer;
  text-decoration: none;
}
.inner-text-flex {
  display: flex;
  justify-content: flex-end;
}
.inner-text-flex > img {
  width: 30px;
  border-radius: 50%;
}
.img-item:hover > .img-inner-text {
  display: block;
}
.next-page {
  text-decoration: none;
  color: lightgray;
}
.homepage {
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-weight: 650;
}
.next-page:hover {
  color: black;
  text-decoration: underline;
}
a:visited {
  text-decoration: none;
}

@media screen and (min-width: 1183px) {
  .title-bar {
    display: none;
  }
  .title-none {
    width: 0;
    display: none;
  }
}

@media screen and (max-width: 1183px) {
  .next-page {
    display: none;
    width: 0;
  }
}
