* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.root {
  padding-top: 55px;
}
.title-box {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  background-color: white;
  z-index: 2;
}
.title-inner-box {
  width: 60%;
  margin: 0 auto;
  padding: 10px 0;
  background-color: white;
}
.title-inner-flex {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.title-inner-item {
  font-size: 1.2rem;
  color: gray;
  display: inline-block;
  padding: 5px;
  position: relative;
}

.title-inner-item:first-child {
  border: 4px solid black;
}
.title-inner-item:hover .next-page-content {
  display: block;
}

.title-inner-item:nth-child(2) .next-page {
  color: black;
}
.title-inner-item:nth-child(4):hover .next-page {
  color: black;
}
.title-inner-item:nth-child(2)::after {
  content: "";
  display: block;
  width: 10px;
  border-bottom: 2px solid black;
  margin: 0 auto;
}
.next-page {
  text-decoration: none;
  color: lightgray;
}
.homepage {
  text-decoration: none;
  color: black;
  font-size: 1rem;
  font-weight: 650;
}
.next-page:hover {
  color: black;
}
.title-inner-item:nth-child(2) .next-page::after {
  content: " \25BC";
  font-size: 0.8rem;
  vertical-align: 20%;
}
.title-inner-item:nth-child(4) .next-page::after {
  content: " \25BC";
  font-size: 0.8rem;
  vertical-align: 20%;
}
.title-inner-item:nth-child(n + 2):hover::after {
  content: "";
  display: block;
  width: 10px;
  border-bottom: 2px solid black;
  margin: 0 auto;
}
a:visited {
  text-decoration: none;
}
.next-page-content {
  display: none;
  position: absolute;
  top: 40px;
  left: -10px;
  background-color: white;
  width: max-content;
  padding: 10px 5px;
}
.next-page-content a {
  color: lightgray;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 1rem;
}

.next-page-content a:hover {
  color: black;
}
.title-button > img {
  width: 50px;
}
.title-button {
  border: none;
  background-color: white;
  text-align: center;
}
.stitle-inner-box {
  width: 300px;
  margin: auto;
}
.stitle-item {
  width: fit-content;
  margin: 0 auto;
  font-size: 2rem;
  padding: 30px 0;
  color: black;
  font-weight: 500;
}
.mid-box {
  padding-bottom: 3%;
}
.mid-inner-box {
  width: 60%;
  margin: 0 auto;
}
.mid-flex {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  flex-wrap: wrap;
}
.mid-item {
  width: 50%;
}
.mid-item > img {
  width: 100%;
  margin: 0 auto;
}
.flex-box {
  display: flex;
  width: fit-content;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.flex-item {
  width: 100%;
  padding: 5px;
  text-align: center;
}
.flex-item:first-child {
  font-size: 2rem;
  font-weight: 550;
  width: 100%;
}
.flex-item:nth-child(2) {
  font-size: 1.5rem;
}
.flex-item:last-child {
  font-size: 1rem;
  padding-bottom: 50px;
}
.flex-text {
  color: grey;
  text-align: center;
}
.text-item {
  font-size: 0.9rem;
}
.text-item:first-child {
  padding-bottom: 30px;
}
.img-box {
  width: 65%;
  margin: 0 auto;
}
.img-flex {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.img-item {
  width: 25%;
}
.img-item:nth-child(n) > img {
  width: 100%;
}
.logo-inner-box {
  width: fit-content;
  margin: 0px auto;
  padding: 40px 0;
}
.logo-item img {
  width: 30px;
  height: auto;
  margin: 0 40px;
}
.album-title {
  border-bottom: 5px solid black;
  width: 65%;
  margin: 30px auto;
  padding-bottom: 20px;
  font-size: 1.5rem;
  font-weight: 600;
  color: #000000;
}
.album-outer-box {
  background-color: lightgrey;
  width: 100%;
}
.album-box {
  width: 66%;
  margin: 0 auto;
}
.album-flex {
  display: flex;
  width: 100%;

  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}
.album-flex a {
  width: 16.6%;
  padding: 15px 10px;
  text-decoration: none;
  color: black;
}
.album-flex a:visited {
  text-decoration: none;
}

.album-item {
  width: 100%;
}
.album-inner-box {
  background-color: white;
}
.album-item .img {
  width: 100%;
  height: 180px;
}

.inner-text {
  text-align: center;
  font-size: 12px;
  padding: 10px 0;
  font-weight: 500;
  font-size: 0.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.album-inner-box:hover > .img,
.album-inner-box:hover > .inner-text {
  opacity: 0.5;
}

.album-inner-box:hover > .inner-text {
  text-decoration: underline;
}
#footer-box {
  width: 70%;
  margin: 0 auto;
  text-align: left;
  font-size: 0.7em;
  letter-spacing: 2px;
  padding: 25px 0;
}
@media screen and (min-width: 1183px) {
  .title-bar {
    display: none;
  }
  .title-none {
    width: 0;
    display: none;
  }
}

@media screen and (max-width: 1183px) {
  .next-page {
    display: none;
    width: 0;
  }
}
