* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.calculator {
  width: 500px;
  /* height: 10px;
  background-color: aqua; */
  padding: 10px;
  margin: 0 auto;
}
.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.num-pad {
  width: 100px;
  height: 100px;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 10px;
  margin-top: 5px;
}
.result-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  margin: 0 auto;
}
.App {
  display: inline-flex;
  background-color: black;
  color: white;
  width: 50%;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  cursor: pointer;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
